.loader{
    top: 0;
    left: 0;
    height: 20vh;
    width: 15vw;
    display: flex;
    margin-left: 35%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .animation{
        width: 50;
        height: 50;
    }
}

@media (max-width:768px){
    .loader{
        width: 25vw;
        height:30vw;
        .animation{
            margin-top:10%;
        }
    }
}
