@import url('../../assets/Styles/global.scss');

// .teacher-container{
//     .teacher-header{
//         display: none;
//     }
// }

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    .form-header{
        display: flex;
        justify-content: space-around;
        gap: 30%;
        div{
            font-weight: 400;
            font-size: 12px;
        }
        img{
            cursor: pointer;
        }
    }
        .form-section{
            padding: 3px 0;
            width: 90%;
            height:500px;
            overflow-y: auto;
            background-color: var(--box-background);
            margin: 0% 5%;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            scrollbar-width: thin;
            button{
                border: none;
                span{
                    padding: 1px;
                    display: inline-block;
                    text-align: center;
                    width: 1vw;
                    height: 2vh;
                    color: var(--background);
                    background-color: var(--primaryColor);
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                }   
            }
            
            .err-msg{
                color: var(--error);
                font-size: 12px;
                font-weight: 400;
            }
            .profile{                
                background-color: var(--background);
                border-radius: 50%;
                
                img{
                    width: 90px;
                    // position:relative;
                    // top: 25%;
                    // left: 25%;
                }
            }
            
            label{
                font-weight: 600;
                font-size: 10px;
                color: var(--primaryColor);
                margin-left:15px;
            }
            input{
                width: 25vw;
                height: 3.5vh;
                border-radius: 10px;
                border: none;
                outline: none;
                padding-left: 10px;
            }
            .subjects{
            .subject{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 15px;
                input{
                    width: 7.5vw;
                }
            }
        }
            .buttons{
                display: flex;
                gap:200px;
                
                
                .button1,.button2{
                    width: 6vw;
                    height: 3vh;
                    background-color: var(--background);
                    font-weight: 600;
                    font-size: 12px;
                    border: none;
                    outline: none;
                    border-radius:10px;
                    cursor:pointer;
                }
                .button2{
                    background-color: var(--primaryColor);
                    color: var(--background);
                }

            }
            
        }
}
