@import url('../../../assets/Styles/global.scss');

.sidebar-container{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    justify-content: space-evenly;
    align-items: center;
    width:35%;
    height: 100vh;
    h4{
        font-weight: 600;
        font-size: 14px;
    }
    .sidebar-header{
        width:100px;
        height: 90px;
        border-radius: 50%;
        img{
            background-size: contain;
            width:100px;
            height: 90px;
        }
    }
    .sidebar-section{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 25px 0 0 0;
        .section{
            background-color: var(--box-background);
            width: 118px;
            height: 70px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 5px;
            p:first-child{
                color: var(--grayFont);
                font-weight: 600;
                font-size: 8px;
            }
            p:last-child{
                font-weight: 600;
                font-size: 12px;
            }
        }
    }
    .sidebar-menu{
        width: 260px;
        height: 48vh;
        background-color: var(--box-background);
        border-radius:20px;
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 25px;
        gap: 20px;
        font-weight: 600px;
        font-size: 12px;
        color:var(--fontColor);
        a{
            all: unset;
            margin: 65px;
            cursor: pointer;
            font-weight: 600;
            font-size:12px;
            &:hover{
                color: var(--primaryColor);
            }
        }
        .logout{
            margin:65px;
            cursor: pointer;
            font-weight: 600;
            font-size:12px;
            &:hover{
                color: var(--primaryColor);
            }
        }
    }
}

@media (max-width: 768px) {
    .sidebar-container{
        width: 100%;
        height: auto;
        gap: 20px;
        padding: 15px 10px;

        .sidebar-header {
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        margin: 0 auto 20px auto;
        }

        .sidebar-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;

        .section {
            width: 90%;
            padding: 20px;
            margin: 5px 0;
            }
        }

        .sidebar-menu {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px 15px;
        gap: 10px;
        border-radius: 10px;

        a {
            margin: 20px;
            font-size: 14px;
        }

        .logout {
            margin: 20px;
            font-size: 14px;
            text-align: center;
            }
        }
    }
}