@import url('../../../assets//Styles/global.scss');

.advertisement-content{
    background-color: var(--background);
    width: 298px;
    height: 655px;
    margin: 41px 19px 25px 19px;
    border-radius: 10px;
}