:root{
    --primaryColor : #0B74BB;
    --interFont : 'inter',serif;
    --background : #fff;
    --box-background :  #F0F3F5;
    --footerContent :#B1B1B1;
    --error : #ff0000;
    --fontColor:#616161;
    --boldFontColor:#333333;
    --btnColor:#5DB8F6;
    --blackColor:#000;
    --border : #D8D8D8;
    --activeFontColor:#A6DBFF;
    --grayFont:#C4C4C4;
    --lightBlue:#EDFAFF;
    --disableBg:gray;
    --F3F7FA:#F3F7FA;
}
