:root{
    --primaryColor : #0B74BB;
    --interFont : 'inter',serif;
    --background : #fff;
    --box-background :  #F0F3F5;
    --footerContent :#B3B3B3;
    --error : #ff0000;
    --fontColor:#616161;
    --boldFontColor:#333333
}