@import url('../../assets/Styles/global.scss');
.dashboard-container{
    display:flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    gap: 0px;
    background-color: var(--box-background);
    
}
@media (max-width:1120px){
    .dashboard-container{
        background-color: var(--background);
        flex-direction: column;
        gap: 0;
        .advertisement-content{
            order: 2;
        }
        .admin-dashboard{
            order: 3;
        }
        .sidebar-container{
            order:1
        }
    }
}



